.thumb {
    width: 320px;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;border-radius: 16px;
    border: solid 3px #fff;
}

body {
    background-color: #444;
}

.title {
    color: #bebebe;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: center;
    overflow-wrap: normal;
}

.vid {
    width: 327px;
    text-align: center;
    font-style: normal;
    padding: 15px;
}

a {
    text-decoration: none;
}

.details {
    color: #999;
    font-size: 15px;
    overflow-wrap: normal;
    font-weight: bold;
    text-align: center;
}

.player {
    width: auto;
    height: 720px;

    border-radius: 4px;
}

body {
    text-align: center;

    height: 999px;
}

.watchplayer {
    width: 1280px; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 100px;
    background-color: #646464;
    padding: 10px;
    padding-bottom: 0px;
    height: 1500px;
}

.playerdetails {
    text-align: left; 
    font-weight: bold;
    color: #a8a8a8; 
    font-size: 15px; 
    margin-right: 15px;
    margin-top: 5px;
}

p {
    font-family: 'Helvetica';
}

span {
    font-family: 'Helvetica';
}