.thumb {
    width: 320px;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;border-radius: 16px;
    border: solid 3px #fff;
}

body {
    background-color: #444;
}

.title {
    color: #bebebe;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: center;
    overflow-wrap: normal;
}

.vid {
    width: 327px;
    text-align: center;
    font-style: normal;
}

a {
    text-decoration: none;
}

.details {
    color: #999;
    font-size: 15px;
    overflow-wrap: normal;
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}

.player {
    width: 1280px;
    height: 720px;
    object-fit: cover;
    border-radius: 4px;
}

body {
    text-align: center;
    color: #ccc;
    height: 999px;
}